################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
/Binary
Yahtzee.Tests/obj
Yahtzee.Tests/bin
Yahtzee.Tests/[Bb]in/
Yahtzee.Tests/[Oo]bj/
Yahtzee.Tests/[Ll]og/
Yahtzee.Tests/[Ll]ogs/
Yahtzee.Tests/[Dd]ebug/
Yahtzee.Tests/[Dd]ebugPublic/
Yahtzee.Tests/[Rr]elease/
Yahtzee.Tests/[Rr]eleases/
Yahtzee.Tests/x64/
Yahtzee.Tests/x86/
